<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0; url=/?mode=signup" />
  <title>Collector Sign Up - The Painted Muse</title>
  <script>
    window.location.replace("/?mode=signup");
  </script>
</head>
<body>
  <p>Redirecting to <a href="/?mode=signup">Collector Registration</a>...</p>
</body>
</html>
